<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<h1>About Us</h1>
<p>U Group It is a social tool that allows you to build groups and events and connects memembers and attendees with deals for your group outings and events</p>
