
<!DOCTYPE html>
<div class="center hero-unit">
	<h1>U Group It</h1>
	<h2> Welcome to U Group It</hz>
	<p>We're about to make arranging deals for your group outings a whole lot easier.  Just gotta work out all the fun stuff first.</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
